body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://thumbs.dreamstime.com/b/milky-way-galaxy-dark-blue-night-sky-hdri-panorama-illustration-346052137.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}


h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 38px;
    text-shadow: 2px 2px 8px black;
}

h2, h3 {
    text-align: center;
    margin-top: 25px;
    color: #FFD2FF;
}

.profile {
    text-align: center;
    margin-top: 25px;
}

.picture {
    width: 180px;
    height: 180px;
  
    transition: transform 0.3s ease;
}

.picture:hover {
    transform: scale(1.1);
}

p, ul {
    width: 70%;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}


table {
    width: 70%;
    margin: 30px auto;
    border-collapse: collapse;
    background: rgba(55, 32, 158, 0.15);
    color: white;
    font-size: 18px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

th {
    background: rgba(0,0,0,0.4);
}


iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


button {
    display: block;
    margin: 25px auto;
    padding: 12px 25px;
    font-size: 18px;
    color: white;
    background: #ff00a8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff54d9;
    transform: scale(1.1);
}
